<!DOCTYPE html>

<nav class="navbar navbar-dark  bg-gray sticky-top navbar-expand-sm">
  <a class="navbar-brand ms-3" href="#"><b>ProjectManagement</b></a>
  <button 
      type="button" 
      class="navbar-toggler" 
      data-toggle="collapse" 
      data-target=".navbar-collapse" 
      aria-controls="navbarCollapse" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Projects<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Meetings<span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet>

</router-outlet>
