
$pinky: rgba(255, 104, 227, 1) !important;
$bluey: rgba(66, 153, 225, 1) !important;

[type='radio'] {
    display: none;
}

button {
    background-color: rgb(231, 35, 231);
}

button:hover {
    background-color: rgb(80, 173, 248);
    text-shadow: 2px 2px rgba(0, 0, 0, .20);
}

select,input {
    background-color: #707070;
    border-color: $pinky;
    color: white;
}

input:focus {
    background-color: #8b8b8b;
    border-color: $bluey;
}

select:focus {
    background-color: #8b8b8b;
    border-color: $bluey; 
}
input::after {
    background-color: $bluey;
    border-color: $bluey;
}

select,input::placeholder {
    color: #cfcfcf;
}

.border-pink {
    border-color: $pinky;
}

.form-group {
    color: white;
}

.type-button {
    background-color: rgb(80, 173, 248);
    text-shadow: 2px 2px rgba(0, 0, 0, .20);
}
.subCard{
    background-color: rgba(66,66,70,0);
    font-size: small;
    padding: 0;
}
.subCardContainer{
    background-color: rgb(66,66,70);
    font-size: small;
    border-color: rgb(80, 173, 248);
    border-width: 2px;
    padding: 0;
    height: 3rem; 
    max-width:fit-content;
}
.subCardContainer:hover{
    box-shadow: 0 0 3px 2px white;
    background-color:rgb(80, 173, 248);
    cursor: pointer;
}
.btn-bluey {
    background-color:rgb(80, 173, 248);
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, .20);
}

